<div class="payment-success" *ngIf="payed">
  Thanks for your order! Continue shopping?
  <br /><br />
  <button (click)="goToProduct()">products</button>
</div>
<div class="payment-empty" *ngIf="!payed && items.length===0">
  There is nothing to pay. Add products to your basket!
  <br /><br />
  <button (click)="goToProduct()">products</button>
</div>

<div class="payment-form" *ngIf="items.length > 0">
  <div>
    Total price: {{ calcTotal() | currency:"EUR":"symbol":"1.2-2" }}
  </div>
  <br /><br />
  <div>
    <button (click)="doPay()">pay now</button>
  </div>

</div>